* {
    margin: 0;
    padding: 0;
    font-family: 'Agdasima', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px;
    width: 100%;
    text-align: center;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    background-color: #191919;
    display: flex;
}

h1 {
    font-size: 40px;
}

.box {
    margin-top: 40px;
    height: 100vh;
    font-size: 20px;
    color: white;
    height: 650px;
    width: 450px;
    border-radius: 10px;
    background-color: #191919;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro {
    margin-top: 60%;
}

p {
    font-size: 30px;
    display: flex;
}

.buttons-container {
    margin-left: 25%;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 150px;
    align-items: center;
}

a {
    text-decoration: none;
}

button {
    font-size: 15px;
    cursor: pointer;
    height: 30px;
    width: 50px;
    background: white;
    border-radius: 5px;
    color: #191919;
    font-weight: 600;
}

button a {
    color: #191919;
}

.nodisplay {
    margin-top: 0;
    font-size: 20px;
    max-height: 500px;
    display: flex;
    height: 500px;
    max-width: 270px;
}

form {
    max-width: 350px;
    align-items: center;
    display: none;
}

form h2 {
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-size: 18px;
    margin-left: 5px;
    display: block;
}

input{
    margin-bottom: 6px ;
    padding: 6px;
    width: 250px;
    background-color: #8b8b8b;
    border-radius: 5px;
}

::placeholder {
    color: rgba(207, 207, 207, 0.432);
}

form button {
    font-size: 23px;
    cursor: pointer;
    color: #191919;
    margin-top: 12px;
    width: 265px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

